
.picturePanel {
    width: 90%;
    background-color: rgb(255,212,159);
    border-radius: 5px;
    margin-top: 16px;
    padding: 18px 5% 18px 5%;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 10px 5%;
    display: grid;
}
.headerPicture {
    grid-column-start: 1;
    grid-column-end: 4;
    height: 64px;
    border-bottom: 3px solid white;
    font-size: 48px; 
    text-align: left;
}
.pictureDetail {
    margin: 16px;
    padding-top: 30%;
    position: absolute;
    z-index: -1;
    text-align: left;
    top: 1;
}
.pictureItem {
    position: relative;
    overflow: hidden;
}
.picture {
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.pictureItem:hover .picture{
    opacity: 0.3;
    background-color: black;
}
.pictureItem:hover .pictureDetail{
    z-index: 1;
}
.detailLine {
    padding-bottom: 16px;
}
.detailLink {
    width: 100%;
    color: white;
    background-color: black;
    border-radius: 2px; 
    padding: 5px;
}