.searchPanel {
    width: 90%;
    height: 72px;
    background-color: rgba(227,180,170,1);
    padding:12px 5% 12px 5%;
    border-radius: 5px;
    display: flex;
    align-items: left;
}
.searchInput {
    font-size: 16px;
    border-radius: 5px;
    border: 0px;
    padding-left: 16px; 
    margin: 8px;
    width: 40%;
    font-family: Courier;
}
.searchButton {
    font-size: 16px;
    border-radius: 5px;
    border: 0px;
    padding: 8px 16px 8px 16px;
    margin: 8px 0 8px 18px;
    background-color: rgb(150,97,95);
    color: white;
    font-family: Courier;
}
.picturePanel {
    width: 90%;
    background-color: rgb(255,212,159);
    border-radius: 5px;
    margin-top: 16px;
    padding: 18px 5% 18px 5%;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 10px 5%;
    display: grid;
}
.headerPicture {
    grid-column-start: 1;
    grid-column-end: 4;
    height: 64px;
    border-bottom: 3px solid white;
    font-size: 48px; 
    text-align: left;
}
.pictureDetail {
    margin: 16px;
    padding-top: 30%;
    position: absolute;
    z-index: -1;
    text-align: left;
    top: 1;
}
.pictureItem {
    position: relative;
    overflow: hidden;
}
.picture {
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.pictureItem:hover .picture{
    opacity: 0.3;
    background-color: black;
}
.pictureItem:hover .pictureDetail{
    z-index: 1;
}
.detailLine {
    padding-bottom: 16px;
}
.detailLink {
    left: 50%;
    width: 100%;
    color: white;
    background-color: black;
    border-radius: 2px; 
    padding: 5px;
}